$white: #fff;
$black: #000;
$grey: #2c2c33;

$red: #b5142c;
$red-light: #e31837;

$blue-light: #008a8c;

$slider-card: #2f3940;

$footer: #2c2c33;
$gradient: linear-gradient(90deg, #e01e3c -8.87%, #ff8300 80.65%);

$shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.08);
$shadow-hover: 0 4px 40px rgba(0, 0, 0, 0.25);
$shadow-header: 0 4px 40px rgba(0, 0, 0, 0.14);

$border-r: 4px;

$proxima-black: "Proxima Black";
$proxima-bold: "Proxima Bold";
$proxima-semibold: "Proxima SemiBold";
$proxima-regular: "Proxima Regular";
